body{
    background-color: black;
    color: white;
    text-align: center;

}
div.corpo{
border-style: solid;
border-radius:10px ;
border-color: darkgray;
background-color: gray;
text-align-last: center;
height: 240px;
margin-left: 450px;
margin-right: 450px;

}
select{
    border-style: solid;
    border-radius:10px ;
    border-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    margin: 10px;
}
button{
    border-style: solid;
    border-radius:10px ;
    border-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    margin: 10px;
    background-color: rgb(225, 250, 185);
    color: black;
}